/* COMMON SETTINGS, FONT AND UTILITY CLASSES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #33475b;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

header, main, footer {
  min-width: 1200px;
}

main {
  background-color: #f4f9fd;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
  padding-bottom: 20px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
}

.text {
  font-size: 15px;
  line-height: 25px;
  padding: 20px 0;
}

.small-text {
  font-size: 12px;
  padding: 15px 0;
}

a {
  text-decoration: none;
}

.button {
  background-color: #ff7a59;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.button.learnmore {
  width: 180px;
  line-height: 60px;
  margin: 20px 0;
  display: inline-block;
}

.box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 3px 2px #d0d4d8;
  padding: 50px;
}

img {
  height: 100%;
}
/* END COMMON SETTINGS, FONT AND UTILY CLASSES */

/* STYLE */

/* navbar heading */
header nav ul li {
  display: inline-block;
  padding-right:15px;
}

header nav a {
  color: #33475b;
}

header .navbar {
  line-height: 80px;
}

header .navbar:first-child {
  background-color: #f4f9fd;
  border-bottom: 2px solid #33475b;
}

header .lens img {
  height: 25px;
  position: relative;
  top: 5px;
}


header .button.login {
  color: #ff7a59;
  border: 2px solid #ff7a59;
  background-color: transparent;
  width: 80px;
  line-height: 30px;
}

header .button.hubspot {
  width: 150px;
  line-height: 34px;
  display: inline-block;
}

header .logo {
  position: relative;
  top: 10px;
}

/* jumbotron */
.jumbotron {
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-position: bottom;
  height: 600px;
}

.jumbotron-box {
  width: 40%;
  padding-top: 50px;
}

.jumbotron .button.hubspot {
  width: 200px;
  margin: 20px 0;
  line-height: 50px;
}

/* section1 */
.section1 .content {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
}

.section1 .content-image {
  height: 200px;
}

/* section2 */
.section2 .box {
  width: 100%;
}

.section2 .box-left {
  width: 35%;
  text-align: center;
}

.section2 .box-image {
  height: 120px;
}

.section2 .box-right {
  width: 65%;
  text-align: left;
}

.section2 h4::after {
  background-color: #9a9da0;
  content: '';
  display: inline-block;
  height: 2px;
  width: 450px;
  vertical-align: middle;
  margin-left: 40px;
}

.section2 .check, .section3 .check {
  height: 20px;
  vertical-align: middle;
  padding: 0 8px;
}

.section2 .feature {
  padding-top: 20px;
}

.section2 .feature span {
  padding-right: 30px;
}

/* section3 */

.section3 .block {
  width: 33.3%;
  padding: 40px 0;
}

.section3 .block:nth-child(1) {
 padding-right: 40px;
}

.section3 .block:nth-child(2) {
  padding-left: 20px;
 padding-right: 20px;
}

.section3 .block:nth-child(3) {
 padding-left: 40px;
}

.section3 .box {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.section3 .box-image {
  height: 120px;
}

.section3 h3 {
  padding-top: 20px;
}

.section3 .text::after {
  background-color: #9a9da0;
  content: '';
  display: block;
  height: 2px;
  width: 260px;
  margin: 60px 0 30px 0;
}

.section3 .check-list {
  text-align: left;
  padding: 30px 0;
}
