/* COMMON SETTINGS, FONT AND UTILITY CLASSES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #33475b;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

.text {
  font-size: 15px;
  line-height: 25px;
}

.small-text {
  font-size: 12px;
}

a {
  text-decoration: none;
}

.button {
  background-color: #ff7a59;
  border-radius: 5px;
  text-align: center;
  color: white;
}

/* END COMMON SETTINGS, FONT AND UTILY CLASSES */

/* STYLE */

/* navbar heading */
header nav ul li {
  display: inline-block;
  padding-right:15px;
}

header nav a {
  color: #33475b;
}

header .navbar {
  line-height: 80px;
}

header .navbar:first-child {
  background-color: #f4f9fd;
  border-bottom: 2px solid #33475b;
}

header .lens img {
  height: 25px;
  position: relative;
  top: 5px;
}


header .button.login {
  color: #ff7a59;
  border: 2px solid #ff7a59;
  background-color: transparent;
  width: 80px;
  line-height: 30px;
}

header .button.hubspot {
  width: 150px;
  line-height: 34px;
}

/* jumbotron */
.jumbotron {
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-position: bottom;
  height: 600px;
}

.jumbotron-box {
  width: 40%;
  padding-top: 50px;
}

.jumbotron-box * {
  padding: 15px 0;
}

.jumbotron .button.hubspot {
  width: 200px;
  margin: 20px 0;
}
